@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-size: 14px; }

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto; }

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px; } }
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px; } }
body {
  background-color: #0c122c; }

.page {
  background: url("../images/bg-desktop.png") no-repeat bottom center;
  background-size: 100vw 50vh;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media (max-width: 767px) {
    .page {
      background: url("../images/bg-mobile.png") no-repeat bottom center;
      background-size: 100vw 100vh; } }
  .page > main {
    display: flex;
    justify-content: center;
    align-items: end;
    width: 95%;
    gap: 40px; }
    @media (max-width: 767px) {
      .page > main {
        flex-direction: column; } }
    .page > main .fylo {
      width: 100%;
      max-width: 300px;
      background-color: #1d2c67;
      color: white;
      padding: 30px;
      border-radius: 10px;
      border-top-right-radius: 120px; }
      @media (max-width: 767px) {
        .page > main .fylo {
          min-width: 100%; } }
      .page > main .fylo .info {
        margin-bottom: 30px; }
      .page > main .fylo .icons {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 5px; }
        .page > main .fylo .icons div {
          width: 55px;
          height: 55px;
          background-color: #0c122c;
          padding: 15px;
          margin-right: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 8px; }
    .page > main .progress {
      background-color: #1d2c67;
      width: 100%;
      max-width: 500px;
      min-height: 140px;
      display: flex;
      flex-direction: column;
      color: white;
      padding: 30px;
      border-radius: 10px; }
      @media (max-width: 767px) {
        .page > main .progress {
          min-width: 100%; } }
      .page > main .progress p {
        color: #848794;
        margin: 0 0 10px; }
        .page > main .progress p span {
          color: white; }
      .page > main .progress .the-progress {
        height: 10px;
        background-color: #0c122c;
        border-radius: 10px;
        position: relative; }
        .page > main .progress .the-progress span[style="width: 80%"] {
          position: absolute;
          height: 100%;
          border-radius: 10px;
          background-image: linear-gradient(to right, #ffa399, #ff4d97);
          z-index: 1; }
          .page > main .progress .the-progress span[style="width: 80%"]::before {
            content: "";
            position: absolute;
            height: 8px;
            width: 8px;
            border-radius: 50%;
            background-color: white;
            right: 2px;
            top: 50%;
            transform: translateY(-50%); }
        .page > main .progress .the-progress span:nth-of-type(2) {
          position: absolute;
          right: 0;
          top: -110px;
          background-color: white;
          padding: 15px 20px;
          color: black;
          border-radius: 10px;
          border-bottom-right-radius: 0;
          font-weight: 600;
          font-size: 35px; }
          @media (max-width: 767px) {
            .page > main .progress .the-progress span:nth-of-type(2) {
              top: 45px;
              left: 50%;
              transform: translateX(-50%);
              font-size: 25px;
              padding: 15px 10px;
              border-bottom-right-radius: 10px; } }
          .page > main .progress .the-progress span:nth-of-type(2)::before {
            content: "";
            position: absolute;
            border-width: 20px 0 0 20px;
            border-style: solid;
            border-color: #dddbff transparent transparent;
            bottom: -20px;
            right: 0; }
            @media (max-width: 767px) {
              .page > main .progress .the-progress span:nth-of-type(2)::before {
                display: none; } }
          .page > main .progress .the-progress span:nth-of-type(2) span {
            font-size: 13px;
            text-transform: uppercase;
            color: #848794;
            font-weight: 500; }
            @media (max-width: 767px) {
              .page > main .progress .the-progress span:nth-of-type(2) span {
                font-size: 12px; } }
      .page > main .progress .size {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px; }

/*# sourceMappingURL=main.css.map */
