@import "./sass/_global-rules.scss";

@mixin Gradient {
}
@mixin media($point) {
  @if $point == mobile {
    @media (max-width: 767px) {
      @content;
    }
  }
}

body {
  background-color: hsl(229, 57%, 11%);
}

.page {
  @include media(mobile) {
    background: url("../images/bg-mobile.png") no-repeat bottom center;
    background-size: 100vw 100vh;
  }
  background: url("../images/bg-desktop.png") no-repeat bottom center;
  background-size: 100vw 50vh;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  > main {
    @include media(mobile) {
      flex-direction: column;
    }
    display: flex;
    justify-content: center;
    align-items: end;
    width: 95%;
    gap: 40px;
    .fylo {
      @include media(mobile) {
        min-width: 100%;
      }
      width: 100%;
      max-width: 300px;
      background-color: hsl(228, 56%, 26%);
      color: white;
      padding: 30px;
      border-radius: 10px;
      border-top-right-radius: 120px;
      .info {
        margin-bottom: 30px;
        svg {
          max-width: 100%;
        }
      }
      .icons {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 5px;
        div {
          width: 55px;
          height: 55px;
          background-color: hsl(229, 57%, 11%);
          padding: 15px;
          margin-right: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 8px;
        }
      }
    }
    .progress {
      @include media(mobile) {
        min-width: 100%;
      }
      background-color: hsl(228, 56%, 26%);
      width: 100%;
      max-width: 500px;
      min-height: 140px;
      display: flex;
      flex-direction: column;
      color: white;
      padding: 30px;
      border-radius: 10px;
      p {
        color: hsl(229, 7%, 55%);
        margin: 0 0 10px;
        span {
          color: white;
        }
      }
      .the-progress {
        height: 10px;
        background-color: hsl(229, 57%, 11%);
        border-radius: 10px;
        position: relative;
        span[style="width: 80%"] {
          position: absolute;
          height: 100%;
          border-radius: 10px;
          background-image: linear-gradient(
            to right,
            hsl(6, 100%, 80%),
            hsl(335, 100%, 65%)
          );
          z-index: 1;
          &::before {
            content: "";
            position: absolute;
            height: 8px;
            width: 8px;
            border-radius: 50%;
            background-color: white;
            right: 2px;
            top: 50%;
            transform: translateY(-50%);
          }
        }
        span:nth-of-type(2) {
          position: absolute;
          right: 0;
          top: -110px;
          background-color: white;
          padding: 15px 20px;
          color: black;
          border-radius: 10px;
          border-bottom-right-radius: 0;
          font-weight: 600;
          font-size: 35px;
          @include media(mobile) {
            width: 100%;
            max-width: 120px;
            top: 45px;
            left: 50%;
            transform: translateX(-50%);
            font-size: 25px;
            padding: 15px 10px;
            border-bottom-right-radius: 10px;
          }
          &::before {
            @include media(mobile) {
              display: none;
            }
            content: "";
            position: absolute;
            border-width: 20px 0 0 20px;
            border-style: solid;
            border-color: hsl(243, 100%, 93%) transparent transparent;
            bottom: -20px;
            right: 0;
          }
          span {
            @include media(mobile) {
              font-size: 12px;
            }
            font-size: 13px;
            text-transform: uppercase;
            color: hsl(229, 7%, 55%);
            font-weight: 500;
          }
        }
      }
      .size {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
      }
    }
  }
}
